* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin: 0 100px;
  width: 200px;
  height: 50px;
  border: 1px solid white;
  background-color: lightcoral;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  transition: all 500ms ease;
  transition-delay: 300ms;
  position: relative;
}
button:hover {
  cursor: pointer;
  border: 1px solid lightcoral;
  background-color: white;
  color: lightcoral;
}
button:hover ~ .box {
  transform: translateX(200px);
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  transform: translateX(-200px);
  transition: all 500ms ease;
}

.overlay {
  width: 200px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.234);
  position: absolute;
  top: 0;
  transition: all 500ms ease;
}

button:hover .overlay {
  height: 50px;
}
