* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin: 100px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: lightcoral;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  /* transition: background-color 500ms; */
  transition: all 500ms linear;
}
button:hover {
  cursor: pointer;
  border: 1px solid lightcoral;
  background-color: white;
  color: lightcoral;
}
